<p>
  image-list works!
</p>
<!-- <ul>
  <li></li>
  <li>{{childImages.hits[1].largeImageURL}}</li>
  <li>{{childImages.hits[2].largeImageURL}}</li>
  <li>{{childImages.hits[3].largeImageURL}}</li>
  <li>{{childImages.hits[4].largeImageURL}}</li>
</ul> -->
<img src="{{childImages.hits[0].webformatURL}}"/>
<img src="{{childImages.hits[1].webformatURL}}"/>
<img src="{{childImages.hits[2].webformatURL}}"/>
<img src="{{childImages.hits[3].webformatURL}}"/>
<img src="{{childImages.hits[4].webformatURL}}"/>
<img src="{{childImages.hits[5].webformatURL}}"/>
<img src="{{childImages.hits[6].webformatURL}}"/>
<img src="{{childImages.hits[7].webformatURL}}"/>
<img src="{{childImages.hits[8].webformatURL}}"/>
<img src="{{childImages.hits[9].webformatURL}}"/>
