
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <br>
  <h1>Images</h1><br/>
  <br>
  <form action="">
    <input type="search" #imagePostSearch placeholder="Search...">
    <button class="fa fa-search" (click)="showImagePosts(imagePostSearch.value); imagePostSearch.value=''"></button>
  </form>

  <div *ngIf="images">
    <app-image-list [childImages]="images"></app-image-list>
  </div>
