
<div class="container">
  <div *ngFor="let text of texts | async" class="panel panel-default">
    <div class="panel-body">
      <h3><em>{{text.textPost}}</em></h3>
      <div class="group">
        <button type="button" id="comment" class="btn btn-light" name="button">Comment</button>
        <button class="btn" id="green"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn" id="red"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>

  <div *ngFor="let image of images | async" class="panel panel-default">
    <div class="panel-body">
      <h3><em>{{image.description}}</em></h3>
      <img src="{{image.imageURL}}"/>
      <div class="group">
        <button type="button" id="comment" class="btn btn-light" name="button">Comment</button>
        <button class="btn" id="green"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn" id="red"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>

  <div *ngFor="let video of videos | async" class="panel panel-default">
    <div class="panel-body" id="watch">
      <h3><em>{{video.title}}</em></h3>
      <iframe width="650" height="400" [src]="video.url | safe"></iframe>
      <div class="group">
        <button type="button" id="comment" class="btn btn-light" name="button">Comment</button>
        <button class="btn" id="green"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn" id="red"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>
