<div class="container">
  <h2>Text Only</h2>
  <div class="feed-text">
    <div class="feed-item">
      <h3>{{title}}</h3>
      <p>{{shorttext}}</p>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="feed-item">
      <h3>{{title}}</h3>
      <p>{{text}}</p>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="feed-item">
      <h3>{{title}}</h3>
      <p>{{texttwo}}</p>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
  <div class="feed-video">
  </div>
</div>

<div class="container">
  <h2>Images</h2>
  <div class="feed-image">
    <div class="feed-item">
      <div class="comment">
        <img class="image-feed" src="assets/img/nature2.jpeg" alt="img">
        <p>{{imagetext}}</p>
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="feed-item">
      <div class="comment">
        <img class="image-feed" src="assets/img/nature2.jpeg" alt="img">
        <p>{{imagetext}}</p>
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="feed-item">
      <div class="comment">
        <img class="image-feed" src="assets/img/nature2.jpeg" alt="img">
        <p>{{imagetext}}</p>
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
        <button class="btn"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Videos</h2>
  <div class="feed-text">
    <div class="feed-item">
      <video width="420" height="340" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button type="button" class="btn btn-light" name="button">Like</button>
        <button type="button" class="btn btn-light" name="button">DisLike</button>
      </div>
    </div>
    <div class="feed-item">
      <video width="420" height="340" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button type="button" class="btn btn-light" name="button">Like</button>
        <button type="button" class="btn btn-light" name="button">DisLike</button>
      </div>
    </div>
    <div class="feed-item">
      <video width="420" height="340" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
      <div class="comment">
        <button type="button" class="btn btn-light" name="button">Comment</button>
        <button type="button" class="btn btn-light" name="button">Like</button>
        <button type="button" class="btn btn-light" name="button">DisLike</button>
      </div>
    </div>
  </div>
</div>
