<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Profile</a>
    <a href="#text">Text</a>
    <a href="#pics">Pics</a>
    <a href="#videos">Videos</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <div id="loginname">
    <a href="#Login Name">
      <div class="loginName"*ngIf="isLoggedIn">
        <a>{{userName}}</a>
        <a (click)="logout()">Log out</a>
      </div>
    </a>
  </div>
  </div>
</body>

<!-- <form action="">
  <input type="search" #textPostSearch placeholder="Search...">
  <button class="fa fa-search" (click)="showTextPosts(textPostSearch.value)"></button>
</form> -->
