<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <ul class="topnav" id="myTopnav">
    <li><a href="#home" class="active">Profile</a></li>
    <li><a href="#text">Text</a></li>
    <li><a href="#pics">Pics</a></li>
    <li><a href="#videos">Videos</a></li>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <div id="loginname">
    <a href="#Login Name">
      <div class="loginName"*ngIf="isLoggedIn">
        <li><a>{{userName}}</a></li>
        <li><a (click)="logout()">Log out</a></li>
      </div>
    </a>
  </div>
</ul>
</body>

<!-- <form action="">
  <input type="search" #textPostSearch placeholder="Search...">
  <button class="fa fa-search" (click)="showTextPosts(textPostSearch.value)"></button>
</form> -->
