<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<body>
  <nav class="topnav" id="myTopnav">
    <div class="nav-color">
      <a class="navbar-brand" href="#">Profile</a>
      <a class="navbar-brand" href="#">Text</a>
      <a class="navbar-brand" href="#">Pics</a>
      <a class="navbar-brand" href="#">Videos</a>
      <form action="" class="navbar-brand">
        <input type="search" #imagePostSearch placeholder="Search...">
        <button class="fa fa-search"></button>
      </form>
      <div class="navbar-brand">
        <div class="loginName"*ngIf="isLoggedIn">
          <a>{{userName}}</a>
          <a (click)="logout()">Log out</a>
        </div>
      </div>
    </div>
  </nav>
</body>
