.profile {
  padding: 5px;
  /* background: lightyellow; */
  /* border: 2px solid black; */
  position: relative;
}

.image {
  margin: 5px;
  width: 100px;
  height: 100px;
}

.image-profile {
  width: 100%;
  max-height: 100px;
}

.info {
  margin: 5px;
}
